<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-md-0">
  <div class="container-fluid">
    <ul class="navbar-nav  mb-0 mb-md-0">
    <!--  <a class="navbar-brand" href="#">
        <img src="logo.png" alt="logo" style="width:40px;">
      </a>-->
      
    <li class="nav-item"> <a routerLink="/" class="navbar-brand" ><h4 style="font-family: serif;">Home</h4> </a>   </li>
   <li class="nav-item" > <a routerLink="/extract" class="navbar-brand"><h4 style="font-family: serif;">Context</h4>  </a> </li>
   <!-- <li class="nav-item"> <a class="navbar-brand" href="/">
   <div class="logo-image">
          <img src="logo.png" class="img-fluid">
    </div> </a> </li>-->
   
  </ul>

    <div>
      <ul class="navbar-nav me-auto mb- mb-md-0" *ngIf="!authenticated">
        <li class="nav-item">
          <a routerLink="/login" class="navbar-brand"><h4 style="font-family: serif;">Login</h4> </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="navbar-brand"><h4 style="font-family: serif">Register</h4> </a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="authenticated">
        <li class="nav-item">
          <a routerLink="/login" class="navbar-brand" (click)="logout()"><h4 style="font-family: serif">Logout</h4></a>
        </li>
      </ul>
    </div>
  </div>
</nav>