<div class="wrapper d-flex align-items-stretch h-100">

    <nav id="sidebar">
    <!--
        <div class="img bg-wrap text-center py-4">

            <div class="user-logo">
                <img class="img" src="assets/images/LOGO2.png">

                <h3 style="color:#5533FF" >Mining, at a deeper level !</h3>
            </div>
        </div> -->
        <ul class="list-unstyled components mb-5">

            <li class="active">
                <a [routerLink]="['/Home']"><span class="fa fa-home mr-3"></span>Home</a>
            </li>
            <li class="active">
                <a [routerLink]="['/extract']"> <span class="fas fa-file-alt"></span> Context Extraction</a>
            </li>

          

        </ul>

    </nav>
</div>